@font-face {
    font-family: 'Quicksand-Bold-Regular';
    src:url('Quicksand-Bold-Regular.ttf.woff') format('woff');  
}

@keyframes rotate {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.start {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body {
    background-color: #eff3f6;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand-Bold-Regular';
    letter-spacing: -1.25px;
}

.progress {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    /*background-image: url("/img/column.png");*/
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 568px;
    padding: 20px;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 22px;
    left: 20px;
}

.circle-svg {
    display: flex;
    margin-top: 5px;
    align-self: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.bar {
    stroke-dasharray: 345.575191895 345.575191895;
    stroke-dashoffset: 345.575191895;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.banana {
    position: relative;
    appearance: none;
    outline: none;
    width: 46px;
    height: 28px;
    margin: 3px 3px 3px 4px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}

.inputs  {
    display: flex;
    align-self: center;
    width: 200px;
    height: 200px;
    flex-direction: column;
    gap: 6.6px;
}

.inputs input {
    width: 45px;
    height: 28px;
    box-sizing: border-box;
}

.inputs div {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.inputs div:first-child {
    margin-top: 9px;
}

.inputs div:nth-child(2) label {
    margin-bottom: 5px;
    letter-spacing: -0.8px;
}

.inputs div:nth-child(2) {
    margin-top: 0.5px;
}

.inputs div:nth-child(3) label {
    letter-spacing: -0.8px;
}

.inputs label {
    margin-left: 19px;
}

.inputs input.apple-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    width: 45px;
    height: 28px;
    border: 2px solid #eff3f6;
    border-radius: 30px;
    box-shadow: inset -17px 0 0 0 #eff3f6;
    transition-duration: 200ms;
}

.inputs input.apple-switch:checked {
    border-color: #005bff;
    box-shadow: inset 17px 0 0 0 #005bff;
}

@media only screen and (min-width: 568px){
    .progress {
        flex-direction: row;
        width: 568px;
        height: 320px;
        /*background-image: url("/img/row.png");*/
    }

    .circle-svg {
        margin-left: 10px;
        margin-top: -1.4px;
    }

    .inputs {
        justify-content: center;
        margin-top: 1px;
        margin-left: 2px;
    }

    .inputs div {
        margin: 0;
    }

    .inputs div:first-child {
        margin: 0;
    }

    .inputs div:nth-child(3) {
        margin-bottom: 3px;
    }
}